/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-modal,.sc-ion-modal-md-h
{
    --width: 100%;
    --min-width: auto;
    --max-width: auto;
    --height: 100%;
    --min-height: auto;
    --max-height: auto;
    --overflow: hidden;
    --border-radius: 0;
    --border-width: 0;
    --border-style: none;
    --border-color: transparent;
    /* --background: var(--ion-background-color,#fff); */
    --box-shadow: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    contain: strict;
    filter: opacity(0.9);
}

.action-sheet-group.sc-ion-action-sheet-md 
{
    background: red;
}

.action-sheet-title.sc-ion-action-sheet-md
{
    color: white;
    font-weight: bolder
}

.action-sheet-icon.sc-ion-action-sheet-md
{
    color: white;
    font-weight: bolder
}

.action-sheet-button-inner.sc-ion-action-sheet-md
{
    color: white;
    font-weight: bolder
}

.searchbar-input-container.sc-ion-searchbar-ios
{
    margin-top: 14px;
}

.action-sheet-group.sc-ion-action-sheet-ios
{
    background: red;
}

.action-sheet-title.sc-ion-action-sheet-ios
{
    color: white;
    font-weight: bolder
}

.action-sheet-button.sc-ion-action-sheet-ios
{
    color: white;
    font-weight: bolder
}

ion-toast.toast-mess 
{
    opacity: 0.9;
    text-align: center;
    color: red;
    --background: white;
    font-weight: bolder;
}

.sc-ion-searchbar-ios-h
{
    padding: 0 8px;
    height: 45px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
    background: white;
    border: 2px solid red;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h .searchbar-input.sc-ion-searchbar-ios
{
    background: white;
}

.searchbar-input.sc-ion-searchbar-md
{
    box-shadow: none;
    border: 2px solid red;
    height: 45px !important;
}

.sc-ion-card-ios-h
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h
{
    height: 45px;
}